:root {
    --fuente-pixel: 'Press Start 2P', cursive;
    --color-fondo: #ffe0b3;
    --color-flecha: #df5500;
    --color-hover: #ffbe75;
    --ColorV: #04724D;
    --ColorR: #C98367;
    --ColorB: #FCF7FF;
}

body {
    font-family: var(--fuente-pixel);
    margin: 0;
    background-color: #fff;
    background: url(./Public/Fondo.jpg)
}

.carruselJuegos {
    width: 100%;
    height: 100px;
    box-shadow: 0 5px 20px rgba(201, 131, 103, 0.5);
    border-radius: 10px;
    background-color: var(--ColorB);
    text-align: center;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    width: 280px;
    height: 230px;
    padding: 10px;
    margin: 0 10px;
    display: inline-block;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.5s ease-in-out;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
    border: 3px solid red;
}

.swiper-slide:hover {
    transform: scale(1.05);
    background-color: var(--ColorR);
    color: var(--ColorB);
}

.swiper-slide h1 {
    font-size: 18px;
    margin: 15px 0;
    color: var(--ColorV);
}

.swiper-slide img {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px var(--ColorV);

}

.swiper-button-prev::after,
.swiper-button-next::after {
    color: var(--ColorV);
    font-size: 24px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    color: var(--ColorV);
    margin-top: 60px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}